


html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

.btn {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}